<div class="container  container-listagem tamanho-detalhe" *ngIf="produto">
  <header class="title text-center">
    <h2>{{ produto.description }}</h2>
  </header>
  <div class="col-md-12">
    
    <div style="align-content: center;" class="img-detalhe">
      <img src="{{produto.imgUrl}}" height="164px" width="200px"  style="display: block; padding-top: 25px;" alt="">
    </div>
    <div class="produto-detalhe">
      
      <div>
        <h5>ID do produto:  {{produto.id}}</h5>
      </div>

      <div>
        <h5>Preço unitário</h5>
        <span><b>{{produto.unitValue | currency:'BRL':'symbol':'1.2-2':'pt'}}</b></span>
      </div>
      
      <div>
        <h5 class="qtd-align">Quantidade:</h5> &nbsp;
      <input type="text" class="input-qtd" id="quantidade" name="quantidadeProd" value="" >
      </div>

  </div>

    <div>
      <button class="btn btn-info btn-alinhamento" (click)="addCarrinho(produto)">Adicionar</button>

    </div>

  </div>
</div>